      body{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            padding: 40px;
        }

        .container{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            padding: 20px;
            background-color: #e3dfdf;
        }

        input{
            width: 100%;
            padding: 8px;
            margin-bottom: 20px;
        }

        button{
        margin-right: 15px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 2px 6px;
        }

        li{
            list-style: none;
            padding: 6px;
            margin-bottom: 8px;
            background-color: #f5ebeb;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .strike span{
            text-decoration: line-through;
            color: gray;
        }

        span[contentEditable = "true"]{
            border-bottom: 1px solid gray;
        }